@import "tailwindcss";


:root {
  --text: #242424;
  --primary: #3f51b5;
  --primary-variant: #3748a6;
  --tertiary: #64c962;
  --gray01: #f5f5f5;
  --gray02: #E1E1E1;
  --gray03: #F0F0F0;
  --stroke: #ededed;
  --dark-gray: #AAAAAA;
  --white: #fff;
  --bg: #fff;
  --negative: #ff5247;
  --disabled: #cdcdcd;
  --links: #20afff;
  --secondary: #ff7f4d;
  --text-on-dark: #fff;
  --bg-on-dark: #0a0c1e;
  --gray-on-dark: #10182c;
  --strokeaccent-on-dark: #1e2547;
  --dark-primary: #131c4b;
  --dark-gray-on-dark: #8e9bdf;
  --primary-soft: #eef4ff;
}

.text-primary {
  color: var(--primary);
}

.text-gray01 {
  color: var(--dark-gray)
}

.text-main{
  color: var(--text)
}

.border-gray02 {
  color: var(--gray02)
}

.bg-gray02 {
  color: var(--gray02)
}

.border-gray {
  color: var(--gray)
}

.border-grayrd {
  color: var(--gray03)
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-soft {
  background-color: var(--primary-soft);
}

.text-secondary {
  color: var(--secondary);
}

.bg-secondary {
  background-color: var(--secondary);
}

@layer utilities {
  .bg-my-image {
    background-image: url('./assets/hero/mask.png');
  }
}


.container {
  max-width: 1330px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
